/* Tablette */
@media (max-width: 768px) {
    .project-card {
        position: relative;
        top: 0;
    }
    .about-content {
        grid-template-columns: 1fr;
    }

    .about-stats {
        grid-template-columns: 1fr;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        position: relative !important;
        top: 0 !important;
    }
}
/* Ordinateurs */
@media (max-width: 1024px) {
    .navbar {
        width: 90%;
    }
    .navbar-hamburger {
        display: block;
    }
    .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 5%;
        right: 5%;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    }
    .navbar-list--active {
        display: flex;
    }
}
